.Fa--fade{
    height: 4.5rem;
    background-image: linear-gradient(180deg, transparent , rgba(37,37,37,0.61), #111 );
}
.bg-ts-1{
    
   background-color: rgba(51, 51, 51, 0.5);
}

.app{
    background-color: #111;
}
.webkit::-webkit-scrollbar{
    display: none;
}



